$font_secondary: var(--font-secondary);

$color_black: #1E1E1E;
$color_white: #fff;
$color_accent: #FFD039;
$color_secondary_accent: #FF88B9;
$color_active: #C60A0A;
$color_heading: #222;
$color_secondary_body: #F4F4F8;

$transition_def: .4s ease-in-out;

$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint__2xl: 1440px;

// General
@use "global/base";
@use "global/display";
@use "global/bg";
@use "global/text";

// Components - DONE
@use "./components/container";
@use "./components/logo";
// @use "global/mobile-menu";
@use "components/burger";
@use "components/embla";
@use "components/cart-badge";


@use "components/button";
@use "components/before-header";

// LAYOUT
@use "layout/header";

// Sections
@use "sections/promo-line";
@use "sections/hero";
@use "sections/categories";
