:root {
  // Fonts
  --font-secondary: 'Onest', sans-serif;

  // Colors
  --color-black: #222;
  --color-white: #fff;
  --color-accent: #FFD039;
  --color-secondary-accent: #FF88B9;
  --color-active: #C60A0A;
  --color-heading: #222;
  --color-secondary-body: #F4F4F8;
  --color-base-red: #F14321;
  --color-bg-pink-medium: rgba(255, 136, 185, 0.40);
  --color-bg-green: rgba(200, 239, 37, 0.80);
  --color-bg-green-light: rgba(200, 239, 37, 0.20);
  --color-bg-cream: #FFF7DE;
  --color-text-additional: #6B7280;

  // Blob-colors
  --color-blob-all: #FF88B9;
  --color-blob-spicy: #F14321;
  --color-blob-chicken: #FFD039;
  --color-blob-fish: #0080F4;
  --color-blob-vegan: #C8EF25;

  // Badge-colors
  --color-badge-border: #FFB800;
  --color-badge-bg: rgba(255, 184, 0, 0.20);
  --color-badge-recommend-border: #FF7A45;
  --color-badge-recommend-bg: rgba(255, 122, 69, 0.20);
  --color-badge-new-border: #B06CFF;
  --color-badge-new-bg: rgba(176, 108, 255, 0.20);

  // Article - badge- colors
  --color-article-badge-popular: #FFB800;
  --color-article-badge-article: #FF7A45 ;
  --color-article-badge-event: #B06CFF ;

  // Product-card :hover-colors
  --color-card-tint-fish: rgba(0, 128, 244, 0.10);
  --color-card-tint-vegan: rgba(200, 239, 37, 0.20);
  --color-card-tint-spicy: rgba(241, 67, 33, 0.10);
  --color-bg-cream: #FFF7DE;

  --color-advantage-border: #E5E7EB;
  --color-card-border: #D1D5DB;
  --color-gray-400: #9CA3AF;

  // Dot-Colors
  --color-dot-inactive: #D1D5DB;
  --color-dot-spicy: #F14321;
  --color-dot-salty:#6B7280;
  --color-dot-fresh: #C8EF25;
  --color-dot-filling: #FFD039;

  // Transitions
  --transition: all 0.3s ease-in-out;

  --size_8: 0.8rem;
  --size_10: 1rem;
  --size_12: 1.2rem;
  --size_14: 1.4rem;
  --size_15: 1.5rem;
  --size_16: 1.6rem;
  --size_18: 1.8rem;
  --size_20: 2rem;
  --size_22: 2.2rem;
  --size_24: 2.4rem;
  --size_26: 2.6rem;
  --size_28: 2.8rem;
  --size_30: 3rem;
  --size_32: 3.2rem;
  --size_34: 3.4rem;
  --size_36: 3.6rem;
  --size_38: 3.8rem;
  --size_40: 4rem;
  --size_41: 4.1rem;
  --size_42: 4.2rem;
  --size_44: 4.4rem;
  --size_45: 4.5rem;
  --size_48: 4.8rem;
  --size_50: 5rem;
  --size_52: 5.2rem;
  --size_55: 5.5rem;
  --size_56: 5.6rem;
  --size_60: 6rem;
  --size_64: 6.4rem;
  --size_68: 6.8rem;
  --size_70: 7rem;
  --size_72: 7.2rem;
  --size_75: 7.5rem;
  --size_80: 8rem;
  --size_82: 8.2rem;
  --size_86: 8.6rem;
  --size_88: 8.8rem;
  --size_90: 9rem;
  --size_94: 9.4rem;
  --size_96: 9.6rem;
  --size_100: 10rem;
  --size_106: 10.6rem;
  --size_110: 11rem;
  --size_112: 11.2rem;
  --size_120: 12rem;
  --size_126: 12.6rem;
  --size_128: 12.8rem;
  --size_130: 13rem;
  --size_132: 13.2rem;
  --size_144: 14.4rem;
  --size_150: 15rem;
  --size_200: 20rem;
}