.button {
    background-color: transparent;
    outline: none;
    padding: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    font-family: var(--font-secondary);

    &:not([disabled]) {
        cursor: pointer;
    }

    svg {
        transition: var(--transition);
    }

    &--primary {
        display: inline-flex;
        height: var(--size_48);
        padding: var(--size_10) var(--size_16);
        justify-content: center;
        align-items: center;
        gap: var(--size_10);
        background: var(--color-accent);
        box-shadow: 0.4rem 0.4rem 0 0 var(--color-secondary-accent);
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 800;
        line-height: normal;
        white-space: nowrap;

        &:hover {
            background: var(--color-secondary-accent);
            box-shadow: 0.4rem 0.4rem 0 0 var(--color-accent);
        }
    }

    &--secondary {
        align-self: flex-start;
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: var(--size_8);
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 600;
        line-height: normal;
        white-space: nowrap;

        .button__label {
            display: inline-block;
        }

        .button__icon {
            width: 3rem;
            height: 3rem;
            color: var(--color-black);
            transform: rotate(180deg);
        }

        .button__underline {
            position: absolute;
            left: 0;
            bottom: -0.4rem;
            width: 100%;
            height: 0.5rem;
            color: var(--color-accent);
            pointer-events: none;
        }
    }

    &--secondary:not(&--card) {
        &:hover {
            .button__underline {
                color: var(--color-black);
            }

            .button__icon {
                transform: translateX(0.3rem) rotate(180deg);
            }
        }
    }

    &--spread {
        .button__label,
        .button__icon {
            transition: transform 0.3s ease;
        }

        &:hover {
            .button__label {
                transform: translateX(-0.6rem);
            }

            .button__icon {
                transform: translateX(1rem) rotate(180deg);
            }
        }
    }
}