@use "../global/media";

.cart-success-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition), visibility var(--transition);
    z-index: 9;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.cart-success {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--color-white);
    overflow: hidden;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform var(--transition), opacity var(--transition), visibility var(--transition);
    z-index: 10;

    &.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    @include media.L {
        height: 49.3rem;
        width: 66rem;
        max-width: 66rem;
        box-shadow: -0.2rem 0 var(--size_24) rgba(0, 0, 0, 0.15);
    }

    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: var(--size_24) var(--size_24) var(--size_48) var(--size_24);
        height: 100%;

        @include media.L {
            flex-direction: row;
            gap: var(--size_32);
            padding: var(--size_32) var(--size_32);
        }
    }

    &__close {
        align-self: flex-end;
        width: var(--size_16);
        height: var(--size_16);
        color: var(--color-black);
        background: transparent;
        border: none;
        cursor: pointer;

        @include media.L {
            position: absolute;
            top: var(--size_18);
            right: var(--size_20);
            z-index: 2;
        }
    }

    &__close-icon {
        width: 100%;
        height: 100%;
    }

    &__illustration {
        width: 22rem;
        height: 18rem;
        align-self: center;

        @include media.L {
            width: 39rem;
            height: 36rem;
            object-fit: contain;
            align-self: flex-end;
            flex-shrink: 0;
            margin-left: -5rem;
            margin-bottom: 4rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 1;

        @include media.L {
            flex: 1 0 0;
            margin-left: calc(var(--size_32) * -1.8);
        }
    }

    &__title {
        color: var(--color-black);
        font-size: var(--size_18);
        font-weight: 800;
        text-transform: uppercase;
        margin-top: var(--size_32);
        display: inline-block;
    }

    &__title-underline {
        width: 15.9rem;
        height: 1.5rem;
        color: var(--color-accent);
    }

    &__product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--size_16);
        margin: var(--size_24) 0;
        padding: 1.2rem 1.2rem 0;
        border-bottom: 0.1rem solid var(--color-gray-400);

        @include media.L {
            margin: var(--size_12) 0;
            gap: var(--size_8);
        }
    }

    &__product-image {
        width: 7rem;
        height: 6rem;
        object-fit: cover;
        flex-shrink: 0;

        @include media.L {
            margin-top: 1rem;
        }
    }

    &__product-name {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 600;
        line-height: 1.4;
        flex: 1 0 0;

        @include media.L {
            padding: 0 1rem 1rem 2rem;
        }
    }

    &__product-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
        margin-top: var(--size_22);
        padding-bottom: var(--size_16);

        @include media.L {
            margin: 0;
            padding-bottom: var(--size_12);
        }
    }

    &__product-price {
        color: var(--color-black);
        font-size: var(--size_18);
        font-weight: 600;

        @include media.L {
            margin-left: 10rem;
        }
    }

    &__product-qty {
        color: var(--color-black);
        font-size: var(--size_14);
        font-weight: 600;
    }

    &__cta {
        margin-top: var(--size_24);
        width: 100%;

        @include media.L {
            margin-top: 4rem;
        }
    }

    &__continue {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin-top: var(--size_40);
        text-align: center;
        color: var(--color-black);
        font-size: var(--size_14);
        font-weight: 600;

        &:hover {
            .cart-success__continue-underline {
                color: var(--color-black);
            }
        }
    }

    &__continue-underline {
        width: 100%;
        height: 0.5rem;
        color: var(--color-accent);
        margin-top: 0.2rem;
        transition: var(--transition);
    }

    &__decor {
        position: absolute;
        z-index: 0;
        pointer-events: none;

        &--yellow {
            top: -14rem;
            left: -17rem;
            width: 34.5rem;
            height: 24.5rem;
            color: var(--color-accent);

            @include media.L {
                top: -17rem;
                left: -22rem;
                width: 41.5rem;
                height: 30.5rem;
            }
        }

        &--green {
            bottom: -2rem;
            left: -6rem;
            width: 16.5rem;
            height: 12.6rem;
            color: var(--color-blob-vegan);

            @include media.L {
                bottom: -6rem;
                left: -7rem;
                width: 23.5rem;
                height: 17.6rem;
            }
        }

        &--pink {
            bottom: 21rem;
            right: -14rem;
            width: 20.1rem;
            height: 15.3rem;
            color: var(--color-secondary-accent);

            @include media.L {
                bottom: -19rem;
                right: -16rem;
                width: 31.1rem;
                height: 27.3rem;
            }
        }
    }
}