.cart-badge {
    border-radius: 50%;
    width: var(--size_22);
    height: var(--size_22);
    inset-block-start: -.6rem;
    inset-inline-end: calc(-1 * var(--size_12));

    &:not(.active) {
        display: none;
    }
}