@use "../global/media";

.field {
    display: flex;
    flex-direction: column;
    gap: var(--size_8);
    width: 47%;

    @include media.L {
        width: 31.8rem;
        flex-direction: row;
        align-items: center;
    }

    &__label {
        color: var(--color-black);
        font-size: var(--size_16);
         @include media.XL{
            font-size: var(--size_18);
         }
    }

    &--end {
        align-items: flex-end;
        @include media.L {
        align-items: center;
        justify-content: flex-end;
        gap: var(--size_10);
    }
    @include media.XL{
         gap: var(--size_16);
    }
    }
}