.ingredient-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 4.8rem 0.8rem;
    border: 0.1rem solid var(--color-card-border);
    background: var(--color-white);

    &__img {
        width: 11.3rem;
        height: 10rem;
        object-fit: contain;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_8);
        margin-top: 1rem;
    }

    &__name {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_14);
        font-weight: 800;
        line-height: 1.4;
    }

    &__desc {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_12);
        font-weight: 600;
        line-height: 1.4;
    }
}