.ingredient-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 0.1rem solid #D1D5DB;
    background: #FFF;

    &__img {
        width: 11.3rem;
        height: 10rem;
        object-fit: contain;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_16);
    }

    &__name {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_14);
        font-weight: 800;
        line-height: 1.4;
    }

    &__desc {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_12);
        font-weight: 600;
        line-height: 1.4;
    }
}