@use "../global/media";
@use "../global/mixins";

.segmented-control {
    display: flex;
    align-items: center;
    gap: var(--size_8);
    list-style: none;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4.2rem;
        height: var(--size_48);
        padding: var(--size_8);
        border: 0.1rem solid var(--color-advantage-border);
        background: transparent;
        color: var(--color-black);
        font-size: var(--size_14);
        cursor: pointer;
        transition: background var(--transition), color var(--transition), border-color var(--transition);

        @include media.L {
            height: var(--size_38);
        }
         @include media.XL{
            height: var(--size_48);
         }

        @include mixins.hover {
            border-color: var(--color-text-additional);
        }

        &--active {
            background: var(--color-black);
            color: var(--color-white);
            border-color: transparent;
        }
    }
    @include media.XL{
        gap: var(--size_12);
    }
}