.slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    gap: var(--size_24);

    &__button {
        display: flex;
        width: 5.2rem;
        height: 5.2rem;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        background: transparent;
        border: none;
        color: var(--color-black);
        cursor: pointer;
        transition: var(--transition);

        &:hover {
            opacity: 0.6;
            color: var(--color-accent);
        }
    }

    &__icon {
        width: 60%;
        height: 60%;
        color: inherit;
        background: transparent;
        transition: var(--transition);
    }

    &__button:hover &__icon {
        background: var(--color-white);
    }

    &__button--next &__icon {
        transform: rotate(180deg);
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: var(--size_12);
    }

    &__pagination-item {
        width: var(--size_8);
        height: var(--size_8);
        aspect-ratio: 1/1;
        border: 0.1rem solid var(--color-black);
        cursor: pointer;
        background: transparent;
        padding: 0;
        transition: var(--transition);

        &.active {
            background: var(--color-black);
        }
    }
}