@use "../global/media";

.blog {
    display: flex;
    justify-content: center;
    background: var(--color-white);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_34);
        padding-block: var(--size_45) var(--size_30);
        border-bottom: 0.1rem solid var(--color-black);

        @include media.L {
            flex-direction: row;
            align-items: flex-start;
            gap: var(--size_24);
            padding-block: var(--size_64) var(--size_52);
        }

        @include media.XL {
            padding-block: var(--size_60) var(--size_52);
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include media.L {
            margin-top: 13.5rem;
            flex-shrink: 0;
            width: 34rem;
        }

        @include media.XL {
            margin-top: 12.5rem;
            width: 38rem;
        }
    }

    &__title {
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 950;
        line-height: 1;
        text-transform: uppercase;

        @include media.L {
            font-size: var(--size_32);
        }

        @include media.XL {
            font-size: var(--size_40);
            font-weight: 900;
        }
    }

    &__text {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 400;
        line-height: 1.4;
        margin: 1rem 0 3rem;

        @include media.XL {
            font-size: var(--size_18);
            margin: 1rem 0;
        }
    }

    &__header .button--spread {
        @include media.L {
            margin-top: 0.8rem;
            font-size: var(--size_16);
            font-weight: 700;

            .button__icon {
                width: var(--size_26);
                height: var(--size_26);
            }
        }

        @include media.XL {
            margin-top: 2.5rem;

            .button__icon {
                width: var(--size_32);
                height: var(--size_32);
            }
        }
    }

    &__cards-container {
        width: 100%;
        min-width: 0;

        @include media.L {
            flex: 1 1 0;
            width: auto;
            margin-inline-start: 4.1rem;
        }

        @include media.XL {
            margin-inline-start: 1.5rem;
        }
    }

    .embla--blog-slider {
        width: 100%;

        .embla__viewport {
            overflow-x: hidden;
            overflow-y: visible;
            width: 100%;

            @include media.L {
                overflow: hidden;
                margin-top: 0.2rem;
            }
        }

        .embla__container {
            display: flex;

            @include media.L {
                margin-inline-start: 0.1rem;
            }

            @include media.XL {
                margin-inline-start: 0.7rem;
            }
        }
    }

    .article-card {
        flex: 0 0 100%;
        margin-inline-start: var(--size_16);

        @include media.L {
            flex: 0 0 calc((100% - var(--size_24)) / 1.33);
            margin: 0 var(--size_14);
            height: 40.8rem;
        }

        @include media.XL {
            flex: 0 0 calc((100% - var(--size_24)) / 2);
            margin: 0 1.2rem;
        }
    }

    .article-card__image {
        padding: 2.4rem 1.2rem 0;

        @include media.XL {
            padding: 2.4rem 1.6rem 0;
        }
    }

    // visible only from L
    .article-card__label {
        @include media.L {
            position: absolute;
            top: 4rem;
            inset-inline-start: 2rem;
            padding: 0.8rem 1.2rem;
            border-radius: var(--size_24);
            background: #FFB800;
            color: var(--color-black);
            font-size: var(--size_10);
            font-weight: 700;
            text-transform: uppercase;
            line-height: normal;
        }

        @include media.XL {
            inset-inline-start: 3rem;
        }
    }

    .article-card__title {
        font-size: var(--size_14);
        margin-top: 1.5rem;

        @include media.L {
            font-size: var(--size_16);
            -webkit-line-clamp: 2;
            line-clamp: 2;
            min-height: calc(var(--size_16) * 1.4 * 2);
            width: 70%;
        }

        @include media.XL {
            margin-top: 1rem;
        }
    }

    .article-card__text {
        @include media.L {
            margin-top: 0;
        }
    }

    .article-card__meta {
        font-size: var(--size_12);

        @include media.L {
            font-size: var(--size_14);
        }

        @include media.XL {
            line-height: 140%;
        }
    }

    .article-card__meta-icon {
        width: var(--size_18);
        height: var(--size_18);
    }

    .article-card .button--secondary {
        font-size: var(--size_16);
        font-weight: 700;
        margin-top: 0.8rem;

        .button__icon {
            width: var(--size_26);
            height: var(--size_26);
        }

        @include media.L {
            margin-top: 0.5rem;

            .button__icon {
                width: var(--size_30);
                height: var(--size_30);
            }
        }

        @include media.XL {
            margin-top: 1rem;

            .button__icon {
                width: var(--size_32);
                height: var(--size_32);
            }
        }
    }

    .article-card__bottom {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        justify-content: space-between;
        padding: 0 0.8rem 6rem;

        @include media.L {
            padding: 0 1.2rem 2.4rem;
        }

        @include media.XL {
            padding: 1rem 1.6rem 2.4rem;
        }
    }

    .slider-controls {
        margin-top: 2rem;

        @include media.L {
            margin-top: 1.5rem;
        }

        @include media.XL {
            margin-top: 2rem;
        }
    }

    // visible only from L
    .slider-controls__button {
        @include media.L {
            width: 5.6rem;
            height: 5.6rem;
        }
    }
}