@use "../global/media";
@use "../global/mixins";

.catalog-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--size_24) var(--size_16) var(--size_80);
    background: rgba(253, 248, 243, 1);
    border-bottom: 0.1rem solid var(--color-black);
    overflow: hidden;

    @include media.L {
        padding: var(--size_48);
        height: 56rem;
    }

    @include media.XL {
        height: 72rem;
        padding: 12rem 0 0 8rem;
    }

   &__image-wrap {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    @include media.L{
        height: 61rem;
    }

    @include media.XL{
        height: 100%;
    }
}

&__image {
    position: absolute;
    top: 35rem;
    left: 50%;
    width: 190%;
    max-width: none;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: contain;

    @include media.L {
        position: static;
        left: auto;
        transform: none;
        width: 100%;
        height: 100%;
        object-position: right center;
    }

    @include media.XL {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        transform: none;
        width: auto;
        max-width: 100%;
        height: 100%;
        
    }
}

    .breadcrumbs {
        position: relative;
        z-index: 1;
        margin-top: 7rem;
        color: var(--color-text-additional);

        @include media.L {
            margin-top: 9.5rem;
            font-size: var(--size_16);
        }
    }

    &__body {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_8);
        margin-top: 17rem;

        .button {
            align-self: stretch;
            justify-content: center;
            margin-top: 4rem;

            @include media.L {
                align-self: flex-start;
                margin-top: 3rem;
                width: 26rem;
            }

            @include media.XL {
                margin-top: 3.5rem;
            }
        }

        @include media.L {
            margin-top: var(--size_32);
            max-width: 50%;
        }

        @include media.XL {
            margin-top: var(--size_48);
            max-width: 35%;
        }
    }

    &__title {
        position: relative;
        color: var(--color-black);
        font-size: var(--size_40);
        font-weight: 950;
        text-transform: uppercase;
        line-height: normal;

        @include media.L {
            font-size: var(--size_56);
        }

        @include media.XL {
            font-size: 7.2rem;
        }
    }

    &__title-decor {
        display: none;
        position: absolute;
        top: -4rem;
        right: -8rem;
        width: 6.5rem;
        height: 7.1rem;
        transform: rotate(100deg);
        color: var(--color-black);
        pointer-events: none;

        @include media.L {
            display: block;
        }

        @include media.XL {
            top: -3rem;
            right: -8rem;
            width: 7.5rem;
            height: 8.1rem;
        }
    }

    &__text {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 500;
        line-height: 1.4;
        width: 70%;

        @include media.XL {
            font-size: var(--size_18);
        }
    }
}