@use "../global/media";

.hero {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background: var(--color-white);
    border-bottom: 0.1rem solid var(--color-black);
    position: relative;
    overflow: hidden;
    gap: 1.2rem;

    @include media.L {
        flex-direction: row;
        height: 46rem;
    }

    @include media.XL {
        align-content: flex-end;
        height: 55rem;
    }

    &__left {
        padding: var(--size_64) var(--size_16) var(--size_48);
        align-self: stretch;
        position: relative;
        margin-top: auto;

        @include media.L {
            padding: var(--size_64) 0 var(--size_64) var(--size_48);
            margin-top: 0;
        }

        @include media.XL {
            padding: var(--size_96) 0 var(--size_64) var(--size_80);
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        @include media.L {
            width: 32.5rem;
        }

        @include media.XL {
            width: 41.7rem;
        }
    }

    &__title {
        padding-top: var(--size_24);

        @include media.L {
            padding-top: 1.5rem;
        }

        h1 {
            color: var(--color-black);
            font-size: var(--size_40);
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;

            span {
                color: var(--color-secondary-accent);
            }

            @include media.L {
                font-size: var(--size_56);
            }

            @include media.XL {
                font-size: var(--size_72);
            }
        }

        p {
            margin-top: var(--size_15);
            color: var(--color-black);
            font-size: var(--size_16);
            font-weight: 400;
            line-height: normal;

            @include media.L {
                margin-top: 1.5rem;
            }

            @include media.XL {
                font-size: var(--size_18);
                margin-top: 1rem;
            }
        }
    }

    &__btn {
        margin-top: var(--size_40);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include media.L {
            width: 26rem;
            height: var(--size_52);
        }

        @include media.XL {
            width: 26rem;
            height: var(--size_56);
        }
    }

    &__image {
        width: 100%;
        position: relative;

        @include media.L {
            flex-grow: 1;
            width: 60rem;
        }

        @include media.XL {
            width: auto;
        }
    }

    &__image-inner {
        height: 40rem;
        overflow: hidden;

        @include media.L {
            height: 100%;
            margin-left: 2rem;
        }

        @include media.XL {
            margin-left: 25rem;
        }
    }

    &__image-pic {
        width: 100%;
        height: 48rem;
        object-fit: cover;
        object-position: left 0rem bottom 4rem;
        display: block;

        @include media.L {
            object-position: center;
            width: 100%;
            height: 47rem;
        }

        @include media.XL {
            object-position: center;
            width: 100%;
            height: 55rem;
        }
    }

    &__blob {
        position: absolute;
        color: var(--color-secondary-accent);
        bottom: 0;
        right: 28rem;
        z-index: 1;

        @include media.L {
            top: 40rem;
            left: 3rem;
        }

        @include media.XL {
            top: 44rem;
            left: 15rem;
        }
    }
}