@use "../global/media";

.ingredients {
    display: flex;
    justify-content: center;
    background: rgba(255, 136, 185, 0.10);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4.2rem;
        padding: var(--size_64) var(--size_16);
        align-self: stretch;
        width: 100%;
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }

    &__heading {
        align-self: stretch;
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 950;
        line-height: 1;
        text-transform: uppercase;
    }

    &__text {
        align-self: stretch;
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 600;
        line-height: 1.4;
        margin-top: 1rem;
    }

    &__cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_24);
        align-self: stretch;
        max-width: 100%;
    }

    .embla--ingredients-slider {
        width: 100%;

        .embla__viewport {
            overflow: hidden;
            width: 100%;
        }

        .embla__container {
            display: flex;
            margin-left: calc(var(--size_16) * -1);
        }
    }

    &__card {
        display: flex;
        flex: 0 0 40%;
        min-width: 0;
        margin-left: var(--size_16);
        box-sizing: border-box;
        padding: var(--size_36) var(--size_8);
        flex-direction: column;
        align-items: center;
        gap: var(--size_18);
        border: 0.1rem solid #D1D5DB;
        background: #FFF;
    }

    &__card-img {
        width: 11.3rem;
        height: 10rem;
        object-fit: contain;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_16);
    }

    &__card-name {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_14);
        font-weight: 800;
        line-height: 1.4;
    }

    &__card-desc {
        color: var(--color-black);
        text-align: center;
        font-size: var(--size_12);
        font-weight: 600;
        line-height: 1.4;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        width: 100%;
        gap: var(--size_24);
        margin-top: 2.5rem;
    }

    &__button {
        display: flex;
        padding: var(--size_8);
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity var(--transition);

        .ingredients__icon {
            width: 100%;
            height: 100%;
            color: var(--color-black);
        }

        &--next {
            .ingredients__icon {
                transform: rotate(180deg);
            }
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: var(--size_16);
    }

    &__pagination-item {
        width: var(--size_8);
        height: var(--size_8);
        aspect-ratio: 1/1;
        border: 0.1rem solid var(--color-black);
        cursor: pointer;
        background: transparent;
        padding: 0;
        transition: background var(--transition);

        &.active {
            background: var(--color-black);
        }
    }
}

@include media.L {
    .ingredients {
        &__container {
            flex-direction: row;
            align-items: center;
            gap: var(--size_24);
            padding: var(--size_64) var(--size_48);
        }

        &__title {
            width: 39.3rem;
            flex-shrink: 0;
            margin-top: calc(0rem - var(--size_18));
        }
         &__heading {
            font-size: var(--size_32);
        }

        &__cards-container {
            flex: 1 0 0;
            min-width: 0;
        }

        &__card-name {
            font-size: var(--size_14);
        }

        &__card-desc {
            font-size: var(--size_14);
        }
    }
}

@include media.XL {
    .ingredients {
        &__container {
            padding: var(--size_90) var(--size_80);
            gap: var(--size_48);
        }
        
        &__heading {
            font-size: var(--size_40);
        }

        &__text {
            font-size: var(--size_18);
            
        }

        .embla--ingredients-slider .embla__viewport {
            overflow: visible;
        }

        .embla--ingredients-slider .embla__container {
            margin-left: calc(var(--size_24) * -1);
            flex-wrap: nowrap;
        }

        &__card {
            flex: 1 1 0;
            min-width: 0;
            width: auto;
            margin-left: var(--size_24);
            padding: var(--size_38) var(--size_16);
        }

        &__card-name {
            font-size: var(--size_16);
            margin-top: 1rem;
        }

        &__card-desc {
            font-size: var(--size_14);
        }

       
    }
}