@use "../global/media";

.legal-hero {
    position: relative;
    background: var(--color-bg-cream);
    border-bottom: 0.1rem solid var(--color-black);
    padding: var(--size_64) var(--size_16);

    @include media.L {
        padding: var(--size_64) var(--size_48) var(--size_96);
    }

    @include media.XL {
        padding: var(--size_96) var(--size_80) var(--size_120);
    }

    .breadcrumbs {
        position: relative;
        z-index: 1;
        margin-bottom: var(--size_24);

        @include media.XL {
            margin-bottom: var(--size_48);
        }
    }

    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: var(--size_75);
        height: auto;
        pointer-events: none;

        @include media.L {
            width: var(--size_144);
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        color: var(--color-black);
        font-size: var(--size_32);
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;

        @include media.L {
            font-size: var(--size_56);
        }

        @include media.XL {
            font-size: var(--size_72);
        }
    }
}