@use "../global/media";

.promo-line {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0.6rem;
    background: var(--color-black);
    color: var(--color-white);
    font-size: var(--size_16);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    &--static {
    
    }
}
@include media.XL {
    .promo-line {
        font-size: var(--size_18);
    }
}