@use "../global/media";

.product {
    display: flex;
    padding: 0 var(--size_16);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--size_24);
    align-self: stretch;

    &__left {
        display: flex;
        height: 32rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }

    &__image-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #FFF7DE;
    }

    &__image {
        width: 100%;
        object-fit: contain;
        max-height: 28rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: var(--size_48);
        align-self: stretch;
        padding-bottom: var(--size_48);
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_48);
        align-self: stretch;
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_8);
        align-self: stretch;
    }

    &__badge {
        display: inline-flex;
        height: 3.2rem;
        padding: var(--size_8) var(--size_12);
        align-items: center;
        gap: var(--size_8);
        border-radius: var(--size_24);
        border: 1px solid #FFB800;
        background: rgba(255, 184, 0, 0.20);

        img {
            width: 1.6rem;
            height: 1.6rem;
            aspect-ratio: 1/1;
        }

        span {
            font-size: var(--size_10);
            font-weight: 800;
            text-transform: uppercase;
            color: var(--color-black);
        }
    }

    &__title {
        align-self: stretch;
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 950;
        line-height: normal;
        text-transform: uppercase;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: var(--size_8);
        align-self: stretch;

        span {
            color: var(--color-black);
            font-size: var(--size_12);
            font-weight: 600;
            line-height: normal;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: var(--size_4);

        img {
            width: 2rem;
            height: 2rem;
        }
    }

    &__nutrition {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_24);
        align-self: stretch;
    }

    &__nutrition-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_8);
        align-self: stretch;

        strong {
            font-size: var(--size_16);
            font-weight: 800;
            color: var(--color-black);
        }

        p {
            font-size: var(--size_14);
            font-weight: 400;
            color: var(--color-black);
            line-height: 1.4;
        }
    }

    &__nutrition-row {
        display: flex;
        align-items: center;
        gap: 2.6rem;
        align-self: stretch;
    }

    &__advantages {
        display: flex;
        align-items: center;
        gap: var(--size_8);
        align-self: stretch;
    }

    &__advantage {
        display: flex;
        padding: var(--size_8) var(--size_12);
        align-items: center;
        gap: var(--size_8);
        border: 1px solid #E5E7EB;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }

        span {
            font-size: var(--size_10);
            font-weight: 600;
            text-transform: uppercase;
            color: var(--color-black);
        }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_32);
        align-self: stretch;
    }

    &__price {
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }

    &__quantity {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--size_24);
        align-self: stretch;
    }

    &__quantity-counter {
        display: flex;
        width: 12rem;
        padding: var(--size_8);
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border: 1px solid var(--color-black);
    }

    &__quantity-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--size_20);
        font-weight: 400;
        color: var(--color-black);
    }

    &__quantity-value {
        font-size: var(--size_12);
        font-weight: 600;
        color: var(--color-black);
        line-height: 1.4;
    }

    &__btn {
    flex: 1 0 0;
}
}

@include media.L {
    .product {
        flex-direction: row;
        padding: 0 var(--size_48);
        align-items: stretch;
        gap: var(--size_24);

        &__left {
             flex: 0 0 50%;   
            max-width: 50%;  
            align-self: stretch;
            height: auto;
            padding: var(--size_64) 0;
        }

        &__image-wrap {
            height: 100%;
            padding: var(--size_48);
            background: #FFF7DE;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-height: none;
        }

        &__right {
            padding: var(--size_64) 0;
            flex: 1 0 0;
            gap: var(--size_48);
            height: auto;
        }
         &__price {
            font-size: var(--size_32);
        }
    }
}

@include media.XL {
    .product {
        &__left {
            flex: 0 0 50%;  
            max-width: 50%;
            align-self: stretch;
            height: auto;
            padding: var(--size_64) 0;
        }
        &__right {
            justify-content: space-between; 
        }
        &__cta {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--size_32);
        }

         &__price {
            font-size: var(--size_40);
        }

        &__quantity {
            width: 40.4rem;
            min-width: 40.4rem;
            justify-content: flex-end;
        }
    }
}