@use "../global/media";

.product-info {
    display: flex;
    justify-content: center;
    background: var(--color-white);
    overflow: hidden;

    &__container {
        padding: var(--size_45) var(--size_16);
        width: 100%;

        @include media.L {
            padding: 5rem var(--size_48);
        }

        @include media.XL {
            padding: 5.6rem 8rem 6.8rem;
            max-width: 144rem;
        }
    }

    &__title {
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 950;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;

        @include media.L {
            font-size: var(--size_32);
        }

        @include media.XL {
            font-size: var(--size_40);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_32);
        margin-top: var(--size_15);
        width: 100%;

        @include media.L {
            flex-direction: row;
            align-items: center;
            gap: var(--size_48);
            margin-top: var(--size_26);
        }

        @include media.XL {
            justify-content: center;
            align-content: center;
            margin-top: 3rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--size_22);
        width: 100%;

        @include media.L {
            align-items: flex-start;
            gap: 4rem;
            flex: 1 0 0;
            min-width: 28rem;
        }

        @include media.XL {
            display: contents;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @include media.XL {
            display: flex;
            flex-direction: column;
            gap: 11rem;
            align-items: flex-start;
            height: 32.4rem;
            min-width: 27.6rem;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: var(--size_22);

            @include media.L {
                margin-top: 4rem;
            }

            @include media.XL {
                margin-top: 0;
            }
        }
    }

    &__item-title-wrap {
        position: relative;
        display: inline-block;
    }

    &__item-title {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 800;
        line-height: 1.4;

        @include media.L {
            font-size: var(--size_18);
        }

        @include media.XL {
            font-size: var(--size_18);
        }
    }

    &__item-underline {
        position: absolute;
        bottom: calc(0rem - var(--size_8));
        left: 0;
        width: 100%;
        height: var(--size_8);
        color: var(--color-black);
        pointer-events: none;

        @include media.XL {
            top: 4rem;
            bottom: auto;
        }
    }

    &__item-desc {
        margin-top: var(--size_8);
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 400;
        line-height: 1.4;

        @include media.XL {
            margin-top: 4rem;
            font-size: var(--size_18);
            font-weight: 600;
        }
    }

    &__image-wrap {
        position: relative;
        width: 100%;
        max-width: 38.6rem;
        margin: 0 auto;

        @include media.L {
            max-width: none;
        }

        @include media.XL {
            order: 2;
        }
    }

    &__image {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;

        @include media.L {
            width: 53.4rem;
            margin-left: 10rem;
        }

        @include media.XL {
            width: 55rem;
            margin-left: 8rem;
        }
    }

    &__blob {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        color: var(--color-blob-vegan);

        @include media.L {
            top: 3.5rem;
            left: 12rem;
            width: 51.3rem;
            height: 50.4rem;
        }

        @include media.XL {
            top: 6rem;
            left: 10rem;
            width: 51.3rem;
            height: 50.4rem;
        }
    }

    &__decor {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        color: var(--color-black);

        &--lines {
            top: 0.9rem;
            left: 0.7rem;
            width: 6rem;
            height: 6rem;

            @include media.L {
                top: -4.5rem;
                left: 8rem;
                width: 6.45rem;
                height: 13.95rem;
            }

            @include media.XL {
                top: -2.5rem;
                left: 5rem;
                width: 6.45rem;
                height: 13.95rem;
            }
        }

        &--highlight {
            right: -0.6rem;
            bottom: -2rem;
            width: 11rem;
            height: 12.4rem;

            @include media.L {
                top: 42rem;
                left: 47rem;
                width: 24.7rem;
                height: 24.7rem;
            }

            @include media.XL {
                top: 44rem;
                left: 44rem;
                width: 26rem;
                height: 24.7rem;
            }
        }
    }

    // XL-only selectors
    &__list:first-of-type {
        @include media.XL {
            order: 1;
            flex: 1 0 0;
        }
    }

    &__list:last-of-type {
        @include media.XL {
            order: 3;
            flex: 1 0 0;
            align-items: flex-end;
            text-align: right;
        }
    }
}