@use "../global/media";

.product {
    display: flex;
    padding: 0 var(--size_16);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--size_24);
    align-self: stretch;

    @include media.L {
        flex-direction: row;
        padding: 0 var(--size_48);
        align-items: stretch;
        gap: var(--size_12);
    }

    @include media.XL {
        gap: var(--size_22);
        font-size: var(--size_18);
    }

    &__left {
        display: flex;
        height: 32rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        @include media.L {
            flex: 0 0 50%;
            max-width: 50%;
            align-self: stretch;
            height: auto;
            padding: 5rem 1rem 6rem 0;
        }

        @include media.XL {
            overflow: visible;
            padding: 5rem 2rem 5rem 3rem;
        }
    }

    &__image-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--color-bg-cream);
        overflow: visible;

        @include media.L {
            position: relative;
            overflow: visible;
        }
    }

    &__image {
        width: 100%;
        object-fit: contain;

        @include media.L {
            position: absolute;
            inset-inline-start: 0;
            width: 100%;
            height: calc(100% + var(--size_24));
            object-fit: contain;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        padding-bottom: var(--size_48);

        @include media.L {
            padding: var(--size_68) 0;
            flex: 1 0 0;
            height: auto;
        }

        @include media.XL {
            padding-bottom: 3.8rem;
        }
    }
}