@use "../global/media";

.product-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--size_16);
    padding: var(--size_20) var(--size_20) var(--size_50) var(--size_20);

    @include media.L {
        flex-direction: row;
        flex-wrap: wrap;
        padding: var(--size_20) var(--size_48) var(--size_64) var(--size_48);
    }

    @include media.XL {
        padding: var(--size_45) var(--size_82) var(--size_64) var(--size_82);
    }

    .breadcrumbs {
        width: 100%;
        gap: var(--size_18);
        
        @include media.L{
            gap: var(--size_16);
        }
        @include media.XL {
            font-size: var(--size_14);
            margin-bottom: var(--size_28);
        }
    }

    &__left {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--size_12);
        width: 100%;

        @include media.L {
            flex-direction: row;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__thumbs {
        display: flex;
        flex-direction: row;
        gap: var(--size_8);
        list-style: none;

        @include media.L {
            flex-direction: column;
        }
    }

    &__thumb {
        flex: 0 0 auto;
        width: 5.8rem;
        height: 5.8rem;
        padding: 0;
        border: none;
        background: var(--color-white);
        cursor: pointer;

        @include media.L {
            width: 8.5rem;
            height: 9rem;
        }

        &--active {
            border: 0.1rem solid var(--color-accent);
        }
    }

    &__thumb-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
    }

    &__main-image-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;
        width: 100%;
        height: 31.2rem;
        background: var(--color-bg-cream);

        @include media.L {
            flex: 0 0 34rem;
            width: auto;
            height: 50.5rem;
        }

        @include media.XL {
            flex: 0 0 52.1rem;
            width: auto;
            height: 48.6rem;
        }
    }

    &__main-image {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: contain;
    }

    &__right {
        width: 100%;

        @include media.L {
            flex: 1 0 0;
            margin-inline-start: var(--size_10);
        }
    }

    .product-summary {
        &__title-wrap {
            margin-top: var(--size_14);

            @include media.L {
                margin-top: 0;
            }
        }

        &__title {
            @include media.L {
                margin-top: 0;
            }

            @include media.XL {
                font-size: var(--size_40);
            }
        }

        &__rating {
            margin-top: var(--size_12);
            gap: var(--size_10);

            @include media.L {
                margin-top: var(--size_18);
            }

            @include media.XL {
                margin-top: var(--size_16);
            }

            span {
                color: var(--color-text-additional);

                @include media.L {
                    font-size: var(--size_16);
                }

                @include media.XL {
                    font-size: var(--size_14);
                }
            }
        }

        &__star {
            flex: 0 0 1.6rem;
            aspect-ratio: 1;
        }

        &__nutrition {
            margin-top: var(--size_16);

            @include media.L {
                margin-top: var(--size_12);
            }

            @include media.XL {
                margin-top: var(--size_16);
            }
        }

        &__nutrition-item {
            flex: 0 0 80%;
            margin-top: var(--size_16);

            @include media.XL {
                margin-top: var(--size_10);
                flex-basis: 60%;
            }

            strong {
                @include media.XL {
                    font-size: var(--size_18);
                }
            }

            p {
                @include media.XL {
                    font-size: var(--size_16);
                }
            }
        }

        &__nutrition-row {
            margin-top: 0;

            @include media.XL {
                margin-top: var(--size_8);
            }

            span {
                @include media.XL {
                    font-size: var(--size_16);
                }
            }
        }

        &__advantages {
            margin-top: var(--size_16);

            @include media.L {
                margin-top: var(--size_22);
                gap: var(--size_10);
            }

            @include media.XL {
                margin-top: var(--size_16);
            }
        }

        &__advantage {
            flex: 1 1 18rem;
            white-space: nowrap;

            @include media.L {
                flex: 0 0 20rem;
            }
        }

        &__advantage-icon {
            flex: 0 0 1.6rem;
            aspect-ratio: 1;
        }

        &__cta {
            @include media.XL {
                margin-top: var(--size_10);
            }
        }

        &__quantity {
            @include media.L {
                margin-top: var(--size_15);
                padding-inline-end: var(--size_40);
            }

            @include media.XL {
                margin-top: 0;
                padding: 0;
            }
        }

        &__quantity-input {
            @include media.XL {
                font-size: var(--size_16);
            }
        }

        &__btn {
            @include media.XL {
                font-size: var(--size_16);
            }
        }
    }
}