@use "../global/media";

.product-info {
    display: flex;
    justify-content: center;
    background: var(--color-white);
     overflow: hidden;

    &__container {
        padding: var(--size_48) var(--size_16);
        width: 100%;
    }

    &__title {
        color: var(--color-black);
        font-size: var(--size_24);
        font-weight: 950;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_32);
        margin-top: var(--size_18);
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--size_22);
        width: 100%;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__item {
        &:not(:first-child) {
            margin-top: var(--size_22);
        }
    }

    &__item-title-wrap {
        position: relative;
        display: inline-block;
    }

    &__item-title {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 800;
        line-height: 1.4;
    }

    &__item-underline {
        position: absolute;
        bottom: calc(0rem - var(--size_8));
        left: 0;
        width: 100%;
        height: var(--size_8);
        color: var(--color-black);
        pointer-events: none;
    }

    &__item-desc {
        margin-top: var(--size_8);
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 400;
        line-height: 1.4;
    }

    &__image-wrap {
        position: relative;
        width: 100%;
        max-width: 38.6rem;
        margin: 0 auto;
    }

    &__image {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__blob {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        color: var(--color-blob-vegan);
    }

    &__decor {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        color: var(--color-black);

        &--lines {
            top: 0.9rem;
            left: 0.7rem;
            width: 6rem;
            height: 6rem;
        }

        &--highlight {
            right: -0.6rem;
            bottom: -2rem;
            width: 11rem;
            height: 12.4rem;
        }
    }
}

@include media.L {
    .product-info {
        &__container {
            padding: 5rem var(--size_48);
        }

        &__title {
            font-size: var(--size_34);
        }

        &__content {
            flex-direction: row;
            align-items: center;
            gap: var(--size_48);
        }
        &__item-title {
        
        font-size: var(--size_18);
       
    }

        &__text {
            align-items: flex-start;
            gap: 4rem;
            flex: 1 0 0;
            min-width: 28rem;
            margin-top: -1.5rem;
        }

        &__item {
            &:not(:first-child) {
                margin-top: 4rem;
            }
        }

        &__image-wrap {
            max-width: none;
        }

        &__image {
            position: relative;
            z-index: 1;
            display: block;
            width: 54.4rem;
            height: auto;
            aspect-ratio: 61 / 69;
            object-fit: contain;
            margin-left: 10rem;
        }

        &__blob {
            top: 4rem;
            left: 12rem;
            width: 51.3rem;
            height: 50.4rem;
        }

        &__decor {
            &--lines {
                top: -3.5rem;
                left: 8rem;
                width: 6.45rem;
                height: 13.95rem;
            }

            &--highlight {
                top: 43rem;
                left: 47rem;
                width: 24.7rem;
                height: 24.7rem;
            }
        }
    }
}

@include media.XL {
    .product-info {
        &__container {
            padding: 4.6rem 8rem 9.6rem;
        }

        &__title {
            font-size: var(--size_40);
        }

        &__item-title {
            font-size: var(--size_18);
        }

        &__item-underline {
            position: absolute;
            top: 4rem;
            left: 0;
            width: 100%;
            height: var(--size_8);
            color: var(--color-black);
            pointer-events: none;
        }

        &__item-desc {
            margin-top: 4rem;
            font-size: var(--size_18);
            font-weight: 600;
        }

        &__content {
            justify-content: center;
            align-content: center;
            margin-top: 3rem;
        }

        &__text {
            display: contents;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 11rem;
            align-items: flex-start;
            height: 32.4rem;
            min-width: 27.6rem;
        }

        &__list:first-of-type {
            order: 1;
            flex: 1 0 0;
        }

        &__list:last-of-type {
            order: 3;
            flex: 1 0 0;
            align-items: flex-end;
            text-align: right;
        }

        &__image-wrap {
            order: 2;
        }

        &__image {
            position: relative;
            z-index: 1;
            display: block;
            width: 54.4rem;
            height: auto;
            aspect-ratio: 61 / 69;
            object-fit: contain;
            margin-left: 8rem;
        }

        &__blob {
            top: 5.5rem;
            left: 10rem;
            width: 51.3rem;
            height: 50.4rem;
        }

        &__decor {
            &--lines {
                top: -2.5rem;
                left: 6rem;
                width: 6.45rem;
                height: 13.95rem;
            }

            &--highlight {
                top: 44rem;
                left: 45rem;
                width: 24.7rem;
                height: 24.7rem;
            }
        }

        &__item {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
    }
}