@use "../global/media";

.testimonials {
    display: flex;
    justify-content: center;
    background: var(--color-bg-cream);
    border-bottom: 0.1rem solid var(--color-black);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size_14);
        padding: var(--size_42) 0 var(--size_45) var(--size_16);
        width: 100%;

        @include media.L {
            padding: var(--size_38) var(--size_48) var(--size_56);
        }

        @include media.XL {
            padding: var(--size_55) var(--size_80) var(--size_60);
        }
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--size_16);
        width: 100%;

        @include media.L {
            margin-top: 3rem;
        }

        @include media.XL {
            margin-top: 0;
        }
    }

    &__title {
        color: var(--color-black);
        font-size: var(--size_18);
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;

        @include media.L {
            font-size: var(--size_20);
        }

        @include media.XL {
            font-size: var(--size_24);
        }
    }

    &__title-controls {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    &__cards-container {
        width: 100%;
    }

    .embla--testimonials-slider {
        width: 100%;

        .embla__viewport {
            overflow: hidden;
            width: 100%;

            @include media.L {
                overflow: visible;
            }
        }

        .embla__container {
            display: flex;
            align-items: center;
            height: 17rem;

            @include media.L {
                justify-content: space-between;
                height: 22.8rem;
            }

            @include media.XL {
                margin: 2.4rem 6rem 0;
                gap: 2.4rem;
                height: 23rem;
                justify-content: center;
            }
        }
    }

    .review-card {
        flex: 0 0 19.3rem;
        min-height: 0;
        height: 10.2rem;
        margin-inline-start: var(--size_16);

        @include media.L {
            flex: 0 0 22.5rem;
            height: 12.5rem;
            margin: 0 2.4rem;
            gap: 2rem;
            padding: var(--size_24);
            cursor: pointer;
        }

        @include media.XL {
            min-width: 0;
            height: 11.9rem;
            margin: 0;
            padding: 3.2rem 2.4rem;
            gap: 1rem;
        }
    }

    // only L, XL 
    .review-card.is-center {
        @include media.L {
            padding: 4.8rem 2.4rem;
            margin: 0;
        }

        @include media.XL {
            height: 13.2rem;
        }
    }

    //  only L
    .review-card__star {
        @include media.L {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    // only L
    .review-card__name {
        @include media.L {
            margin-top: 0;
        }

        @include media.XL {
            margin-top: 0.4rem;
            font-size: var(--size_18);
        }
    }

    // only L
    .review-card__text {
        @include media.L {
            font-size: var(--size_14);
            width: 23rem;
        }

        @include media.XL {
            width: 100%;
        }
    }
}