@use "../global/media";

.footer {
    display: flex;
    flex-direction: column;
    background: var(--color-bg-cream);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size_32);
        padding: var(--size_24) var(--size_8);
    }

    &__logo-link {
        display: flex;
    }

    &__logo {
        width: 7.8rem;
        height: 8rem;
    }

    &__row {
        display: flex;
        gap: var(--size_40);
        width: 100%;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: var(--size_16);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        color: var(--color-black);
        text-decoration: none;
        font-size: var(--size_16);
        font-weight: 700;
        transition:  var(--transition);

        &:hover {
            color: var(--color-secondary-accent);
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: var(--size_16);
        margin-left: 3rem;
    }

    &__contact-item {
        display: flex;
        align-items: center;
        gap: var(--size_12);
        color: var(--color-black);
        text-decoration: none;
        font-size: var(--size_14);
        font-weight: 600;
        transition:  var(--transition);

        &:hover {
            color: var(--color-secondary-accent);
        }
    }

    &__contact-icon {
        width: var(--size_32);
        height: var(--size_24);
        color: var(--color-black);
    }

    &__subscribe {
        display: flex;
        flex-direction: column;
        gap: var(--size_16);
        width: 100%;
    }

    &__subscribe-title {
        color: var(--color-black);
        font-size: var(--size_16);
        font-weight: 800;
        line-height: 1.3;
    }

    &__subscribe-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__subscribe-input {
        width: 100%;
        box-sizing: border-box;
        padding: var(--size_16);
        border: 0.1rem solid var(--color-black);
        background: var(--color-white);
        color: var(--color-black);
        font-size: var(--size_16);
        font-family: var(--font-secondary);

        &::placeholder {
            color: var(--color-black);
            opacity: 0.5;
        }
    }

    &__subscribe-btn {
        width: 100%;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: var(--size_16);
        padding: var(--size_24) var(--size_16);
        background-color: var(--color-black);
    }

    &__bottom-left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: var(--size_16) var(--size_24);
        text-align: left;
    }

    &__copyright {
        color: var(--color-white);
        font-size: var(--size_12);
    }

    &__legal-link {
        color: var(--color-white);
        text-decoration: underline;
        font-size: var(--size_12);
        transition:  var(--transition);

        &:hover {
            color: var(--color-secondary-accent);
        }
    }

    &__bottom-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size_16);
    }

    &__payments {
        display: flex;
        align-items: center;
        gap: var(--size_16);
    }

    &__payment-icon {
        width: auto;

        &--visa {
            height: 2.6rem;
        }

        &--mastercard {
            height: 2.6rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: var(--size_16);
    }

    &__social-link {
        display: flex;
        color: var(--color-white);
        transition:  var(--transition);

        &:hover {
            color: var(--color-secondary-accent);
        }
    }

    &__social-icon {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@include media.L {
    .footer {
        &__container {
            padding: var(--size_24) var(--size_48);
        }

        &__row {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        &__menu {
            flex-direction: row;
            gap: var(--size_24);
        }

        &__contacts {
            flex-direction: row;
            gap: var(--size_32);
            font-size: var(--size_16);
            margin: 0;
        }

        &__contact-item {
            font-size: var(--size_16);
            font-weight: 400;
            gap: var(--size_48);
        }

        &__subscribe {
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        &__subscribe-title {
            width: 53rem;
            flex-shrink: 0;
        }

        &__subscribe-form {
            flex-direction: row;
            width: 53rem;
        }

        &__subscribe-input {
            width: 26.8rem;
        }

        &__subscribe-btn {
            width: 26rem;
            height: 5.2rem;
        }

        &__bottom {
            flex-direction: row;
            justify-content: space-between;
            padding: var(--size_12) var(--size_48);
        }

        &__copyright {
            font-size: var(--size_14);
        }

        &__legal-link {
            font-size: var(--size_14);
        }

        &__bottom-right {
            gap: var(--size_32);
        }

        &__payment-icon {
            &--visa {
                height: 2.6rem;
                width: 8.2rem;
            }

            &--mastercard {
                height: 2.6rem;
                width: 4.4rem;
            }
        }
    }
}

@include media.XL {
    .footer {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding: var(--size_64) var(--size_80) var(--size_24);
        }

        &__logo-link {
            flex-basis: 100%;
            justify-content: center;
        }

        &__row {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--size_24);
            width: auto;
            margin-top: 2.2rem;
        }

        &__menu {
            flex-direction: row;
        }

        &__contacts {
            flex-direction: row;
            margin-top: 2rem;
            gap: 7rem;
        }

        &__contact-item {
            gap: 1.5rem;
        }

        &__subscribe {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--size_16);
            width: auto;
            margin-top: 2.2rem;
        }

        &__subscribe-form {
            flex-direction: row;
        }

        &__bottom {
            padding: var(--size_16) var(--size_80);
        }
    }
}