@use "../global/media";
@use "../global/mixins";

.header {
    padding: var(--size_8);
    transform: translateY(0);
    transition: transform .35s ease-in-out, opacity .35s ease-in-out;

    // activates after scrolling past 90vh
    &.is-fixed {
        position: fixed;
        left: 0;
        background: var(--color-white);
    }

    &--hidden {
        transform: translateY(calc(-100% - var(--before-h, 0px)));
        opacity: 0;
    }

    @include media.L {
        border-block-end: .1rem solid var(--color-black);
        padding: 0;
    }

    &__wrapper {
        @include media.L {
            align-items: unset;
        }
    }

    &__burger {
        padding: var(--size_10) calc(var(--size_10) / 2);

        @include media.L {
            display: none;
        }
    }

    &__left-part {
        flex-basis: 20%;

        @include media.L {
            display: none;
        }
    }

    &__right-part {
        flex-basis: 20%;

        @include media.L {
            flex-basis: auto;
            padding: var(--size_24) var(--size_42);
            border-inline-start: .1rem solid var(--color-black);
            gap: var(--size_24);
        }

        @include media.XL {
            padding-inline: var(--size_68);
        }
    }

    &__logo-wrapper {
        @include media.L {
            padding: var(--size_16) var(--size_36);
            border-inline-end: .1rem solid var(--color-black);

            @include mixins.hover {
                img {
                    transform: rotate(360deg);
                }
            }
        }

        @include media.XL {
            padding-inline: var(--size_64);
        }
    }

    &__cart-icon {
        margin-inline-end: var(--size_12);

        svg {
            width: var(--size_28);
            height: var(--size_34);
        }

        @include media.L {
            @include mixins.hover {
                color: var(--color-secondary-accent);
            }
        }
    }

    &__account-icon {
        @include media.L {
            display: flex;
            @include mixins.square(var(--size_34));

            @include mixins.hover {
                color: var(--color-secondary-accent);
            }
        }
    }
}